/* Define custom variables */
:root {
    --primaryColor: darkcyan;
    --secondaryColor: rgb(91, 161, 161);
    --alternativeColor: rgb(69, 118, 209);
    --redColor: rgb(31, 8, 8);
    --whiteText:white;
    /* none | h-offset (X) v-offset (Y) blur spread color |inset|initial|inherit*/
    --mainBoxShadow: .3vw .3vw 1vw rgba(0, 0, 87, 11);
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image:linear-gradient(to right, rgb(91, 161, 161) , #d78b8b, rgb(69, 118, 209));
}
h1 {
    margin-top: 2rem;
    margin-left: 30rem;
}
h2 {
    margin-top: 2rem;
    margin-left: 26rem;
}
.form {
    margin-left: 26rem;
}
.form-control {
    margin-top: 2rem;
    height: 3rem;
    width: 20rem;
    border: 3px solid #d78b8b;
}
.NumofChars {
    margin-top: 2rem;
    height: 2rem;
    scale: 1.01;
    border: 3px solid #d78b8b;
}
.Search {
    margin-top: 2rem;
    margin-left: 6rem;
    height: 2rem;
    width: 5rem;
    scale: 1.01;
    border: 3px solid #d78b8b;
}
#DisplayNumofChars {
    margin-top: 1rem;
    background-color: aliceblue;
    height: 3rem;
    width: 20rem;
    border: 3px solid #d78b8b;
}
#DisplaySearch {
    margin-top: 1rem;
    background-color: aliceblue;
    height: 3rem;
    width: 20rem;
    border: 3px solid #d78b8b;
}